:root{
    --home: red;
    --bg: #010101;
    --filter: #be7937;
    --bgmenu: #ffff;
    }
    
    *{
        
        margin:0;
        padding:0;
        box-sizing: border-box;
        text-decoration: none;
    
    }
    
    body{
        font-family: Arial, Helvetica, sans-serif;
        background-color:var(--bg);
        color:#fff;
       background-image: url(latar\ kopi.jpeg);
        background-size: cover;
        
    }
    
    
    .navbar{
        display: flex;
        justify-content:space-between;
        align-items: center;
       padding:1.5rem 7%;
        background-color: rgb(1, 1, 1, 0.8%);
        left: 0;
        right: 0;
        z-index: 9999999999;
    }
    
    .navbar .navbar-logo{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 2rem;
        font-weight: 850;
        color:var(--bg);
        font-style: italic;
    }
    .navbar .navbar-logo:hover{
        transform: scale(1.1);
        transition: 0.2s linear;
    }
    .navbar .navbar-logo span{
        color:var(--filter);
    }
    
    .navbar .navbar-nav a{
        color:white;
        text-decoration: none;
        padding: 10px 15px;
        cursor: pointer;
        background-color: #33333380;
         backdrop-filter: blur(10px);
         font-weight: 500;
     }
 
     .navbar-nav .home{
        background-color: #fdfdfd;
         color: #010101;
         border-radius: 30px 30px 30px 30px;
         transition: all 0.5s;
     }
 
     .navbar-nav .home:hover{
         color: black;
         background-color: #f0f0f0;
         transition: 0.5s;
         transform: scale(1.1);
         font-weight: 500;
     }
 
     .navbar-nav .menu{
         background-color: #fdfdfd;
         color: #010101;
         border-radius: 30px 30px 30px 30px;
         transition: all 0.5s;

     }
 
     .navbar-nav .menu:hover{
         color: black;
         background-color: #f0f0f0;
         transition: 0.5s;
         transform: scale(1.1);
         font-weight: 500;
     }
 
     .navbar-nav .order{
         background-color: #fdfdfd;
         color: #010101;
         border-radius: 30px 30px 30px 30px;
         transition: all 0.5s;
     }
 
     .navbar-nav .order:hover{
         color: black;
         background-color: #f0f0f0;
         transition: 0.5s;
         transform: scale(1.1);
         font-weight: 500;
     }
 
     .navbar-nav .contact{
         background-color: #fdfdfd;
         color: #010101;
         border-radius: 30px 30px 30px 30px;
         transition: all 0.5s;
     }
 
     .navbar-nav .contact:hover{
         color: black;
         background-color: #f0f0f0;
         transition: 0.5s;
         transform: scale(1.1);
         font-weight: 500;
     }

     
     .login{
        padding: 10px;
        background-color: var(--bgmenu);
        border-radius: 100%;
    }

    .login:hover{
        transform: scale(1.1);
        transition: 0.2s linear;
      
    }

    

    
        
    

    /tampilan/

    .tampilan{
        padding: 2.5rem 7%;
    }
    .judul-teks{
        
        font-family: Poppins;
        font-size: 2.5rem;
    }

    .judul-teks span{
        font-size: 1.1rem;
        font-weight: 100;
    }

    .order{
        font-size: 1rem;
        font-family: sans-serif;
        padding: 1.2rem 7%;
        background-color: #be7937;
        border-radius: 10px;
        color:#f0f0f0;
        font-weight: 550;
    }

    .order span:hover{
        color:red;
    }

    /media Queries/
    /* Tablet*/
    @media (max-width: 758px){
        html{
            font-size: 62.5%;
        }
    }
    /* mobile phone*/
    @media (max-width: 450px){
        html{
            font-size: 55%;
        }
    }
